@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Book

@inject IHtmlLocalizer<Shared> SharedLocalizer

<div class="row mb-2">
    <div class="col-2">
        <span class="col-form-label col-form-label-sm">ISBN</span>
    </div>
    <div class="col-4">
        <span class="">@Model.ISBN</span>
        <a class="btn btn-sm btn-outline-primary"
           asp-controller="Books" asp-action="Update" asp-route-id="@Model.ISBN">
            <span class="bi-pencil-fill"></span>
        </a>
    </div>
</div>
<div class="row mb-2">
    <div class="col-2">
        <span class="col-form-label col-form-label-sm">@SharedLocalizer["Title"]</span>
    </div>
    <div class="col-4">
        <span class="">@Model.Title</span>
    </div>
</div>
<div class="row mb-2">
    <div class="col-2">
        <span class="col-form-label col-form-label-sm">@SharedLocalizer["Genre"]</span>
    </div>
    <div class="col-4">
        <span class="">@Html.ValueFor(m => Model.Genre)</span>
    </div>
</div>
<div class="row mb-2">
    <div class="col-2">
        <span class="col-sm-2 col-form-label col-form-label-sm">@SharedLocalizer["Author"]</span>
    </div>
    <div class="col-4">
        <span class="">@Model.Author.Name</span>
    </div>
</div>
<div class="row mb-2">
    <div class="col-2">
        <span class="col-form-label col-form-label-sm">@SharedLocalizer["Year"]</span>
    </div>
    <div class="col-4">
        <span class="text-dark">@Model.Year</span>
    </div>
</div>
