@using Microsoft.AspNetCore.Mvc.Localization
@model Library.Web.Models.ViewModels.ErrorViewModel

@inject IHtmlLocalizer<Shared> SharedLocalizer

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@SharedLocalizer["Error."]</h1>
<h2 class="text-danger">@SharedLocalizer["An error occurred while processing your request."]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@SharedLocalizer["Request ID:"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@SharedLocalizer["Development Mode"]</h3>
<p>
    @SharedLocalizer["Swapping to"] <strong>@SharedLocalizer["Development"]</strong> @SharedLocalizer["environment will display more detailed information about the error that occurred."]
</p>
<p>
    <strong>@SharedLocalizer["The Development environment shouldn't be enabled for deployed applications."]</strong>
    @SharedLocalizer["It can result in displaying sensitive information from exceptions to end users."]
    @SharedLocalizer["For local debugging, enable the"] <strong>@SharedLocalizer["Development Mode"]</strong> @SharedLocalizer["environment by setting the"] <strong>ASPNETCORE_ENVIRONMENT</strong> @SharedLocalizer["environment variable to"] <strong>@SharedLocalizer["Development"]</strong>
    @SharedLocalizer["and restarting the app."]
</p>
