@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Library.Web.Models.ViewModels.UpdateMemberViewModel

@inject IHtmlLocalizer<Shared> SharedLocalizer

@{
ViewData["Title"] = "Update Member";
bool isAuthenticated = User.Identity?.IsAuthenticated ?? false;
}

@if (isAuthenticated)
{
<div class="container">
    <div class="row mb-3">
        <h2 class="text-primary">@SharedLocalizer["Update Member"] @Model.Name</h2>
    </div>

    <form method="post" asp-action="Update" class="g-2">
        <input type="hidden" asp-for="Id"/>
        <div class="row mb-2">
            <div class="col-2">
                <label asp-for="Name" class="col-form-label col-form-label-sm">@SharedLocalizer["Name"]</label>
            </div>
            <div class="col-4">
                <input asp-for="Name" class="form-control form-control-sm">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <label asp-for="PhoneNumber" class="col-form-label col-form-label-sm">@SharedLocalizer["PhoneNumber"]</label>
            </div>
            <div class="col-4">
                <input asp-for="PhoneNumber" class="form-control form-control-sm">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
            <div class="row">
                <div class="col-6 g-2 text-end">
                    <button type="submit" class="btn btn-sm btn-outline-primary">@SharedLocalizer["Submit"]</button>
                    <a class="btn btn-sm btn-outline-secondary" asp-action="Index">@SharedLocalizer["Cancel"]</a>
                </div>
            </div>
    </form>
</div>
}