@model Library.Web.Models.ViewModels.AddBookViewModel

@{
    ViewData["Title"] = "Add Book";
}

<div class="container">
    <div class="row mb-3">
        <h2>Add Book</h2>
    </div>
    <form method="post" asp-action="Add" class="g-2">
        <div class="row mb-2">
            <div class="col-2">
                <label asp-for="ISBN" class="col-form-label col-form-label-sm"></label>
            </div>
            <div class="col-4">
                <input asp-for="ISBN" class="form-control form-control-sm">
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <label asp-for="Title" class="col-form-label col-form-label-sm"></label>
            </div>
            <div class="col-4">
                <input asp-for="Title" class="form-control form-control-sm">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <label asp-for="Genre" class="col-form-label col-form-label-sm"></label>
            </div>
            <div class="col-auto">
                <select class="form-select form-select-sm"
                        asp-for="Genre" asp-items="@Model.Genres">
                    <option selected value="@null">Select genre</option>
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <label asp-for="AuthorId" class="col-sm-2 col-form-label col-form-label-sm"></label>
            </div>
            <div class="col-auto">
                <select asp-for="AuthorId" asp-items="@Model.Authors"
                        class="form-select form-control-sm"
                        value="@Model.Authors">
                    <option selected value="@null">Select author</option>
                </select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <label asp-for="Year" class="col-form-label col-form-label-sm"></label>
            </div>
            <div class="col-auto">
                <input asp-for="Year" required class="form-control form-control-sm">
                <span asp-validation-for="Year" class="text-danger"></span>

            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <label asp-for="InstancesCount" class="col-form-label col-form-label-sm"></label>
            </div>
            <div class="col-auto">
                <input asp-for="InstancesCount" required class="form-control form-control-sm">
                <span asp-validation-for="InstancesCount" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-auto g-2 text-end">
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                <a class="btn btn-sm btn-secondary" asp-action="Index">Cancel</a>
            </div>
        </div>
    </form>
</div>