@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Library.Web.Models.ViewModels.UpdateBookViewModel

@inject IHtmlLocalizer<Shared> SharedLocalizer

@{
	ViewData["Title"] = "Update Book";
}

<div class="container">
	<div class="row mb-3">
		<h2 class="text-primary">@SharedLocalizer["Update Book"] @Model.Title</h2>
	</div>

	<form method="post" asp-action="Update" class="g-2">
		<div class="row mb-2">
			<div class="col-2">
				<label asp-for="ISBN" class="col-form-label col-form-label-sm"></label>
			</div>
			<div class="col-4">
				<input type="hidden" asp-for="ISBN"/>
				<span class="">@Model.ISBN</span>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-2">
				<label asp-for="Title" class="col-form-label col-form-label-sm">@SharedLocalizer["Title"]</label>
			</div>
			<div class="col-4">
				<input asp-for="Title" class="form-control form-control-sm">
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-2">
				<label asp-for="Genre" class="col-form-label col-form-label-sm">@SharedLocalizer["Genre"]</label>
			</div>
			<div class="col-4">
				<select class="form-select form-select-sm" asp-for="Genre" asp-items="@Model.Genres">
				</select>
				<span asp-validation-for="Genre" class="text-danger"></span>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-2">
				<label asp-for="Year" class="col-form-label col-form-label-sm">@SharedLocalizer["Year"]</label>
			</div>
			<div class="col-4">
				<input asp-for="Year" required class="form-control form-control-sm">
				<span asp-validation-for="Year" class="text-danger"></span>

			</div>
		</div>
		<div class="row mb-2">
			<div asp-validation-summary="All" class="text-danger"></div>
		</div>
		<div class="row">
			<div class="col-6 g-2 text-end">
				<button type="submit" class="btn btn-sm btn-outline-primary">@SharedLocalizer["Submit"]</button>
				<a class="btn btn-sm btn-outline-secondary" asp-action="Index">@SharedLocalizer["Cancel"]</a>
			</div>
		</div>
	</form>
</div>