@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Library.Web.Models.ViewModels.LoginViewModel

@inject IHtmlLocalizer<Shared> SharedLocalizer

@{
    ViewData["Title"] = "Log in";
}

<div class="container justify-content-center">
    <div class="row mb-3">
        <h2 class="text-primary">@SharedLocalizer["Login"]</h2>
    </div>

    <form method="post" class="g-2">
        <div class="row mb-2">
            <div class="col-1">
                <label asp-for="Username" class="col-form-label col-form-label-sm">@SharedLocalizer["UserName"]</label>
            </div>
            <div class="col-2">
                <input asp-for="Username" class="form-control form-control-sm">
                @* <span asp-validation-for="Username" class="text-danger"></span> *@
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-1">
                <label asp-for="Password" class="col-form-label col-form-label-sm">@SharedLocalizer["Password"]</label>
            </div>
            <div class="col-2">
                <input asp-for="Password" type="password" class="form-control form-control-sm">
                @* <span asp-validation-for="Password" class="text-danger"></span> *@
            </div>
        </div>
        <div class="row mb-2">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="row mb-2">
            <div class="row">
                <div class="col-3 g-2 text-end">
                    <button type="submit" class="btn btn-sm btn-outline-primary">@SharedLocalizer["Submit"]</button>
                    <a class="btn btn-sm btn-secondary" asp-action="Index">@SharedLocalizer["Cancel"]</a>
                </div>
            </div>
        </div>
    </form>
</div>