@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Library.Web.Models.ViewModels.UserPageViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="row mb-2">
    <h2>Users</h2>
</div>
<div class="row mb-2 align-items-center">
    <div class="col-10">
        <form class="row" method="get">
            <div class="col-auto">
                <label class="col-form-label col-form-label-sm" for="name">Name</label>
            </div>
            <div class="col-3">
                <input id="name" name="name" type="text"
                       class="form-control form-control-sm"
                       value="@Model.NameFilter">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-sm btn-outline-success"
                        asp-action="Index">
                    Search
                </button>
                <button type="submit" class="btn btn-sm btn-outline-danger"
                        asp-action="Reset">
                    Reset
                </button>
            </div>
        </form>
    </div>
    <div class="row mb-2 align-items-center">
        <div class="col-12 text-end">
            <a class="btn btn-sm btn-outline-success" asp-controller="Users" asp-action="Add">
                <span class="bi-person-add"></span>
            </a>
        </div>
    </div>
</div>

<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Login name</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (User user in Model.Users)
    {
        <tr>
            <td>@user.Id.ToString()</td>
            <td>@user.Name</td>
            <td>@user.Username</td>
            <td>@user.Role</td>
            <td>
                @if (!user.IsBuiltIn)
                {
                    <a class="btn btn-sm btn-danger"
                       asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id">
                        <span class="bi-trash"></span>
                    </a>
                }
            </td>
        </tr>
    }

    </tbody>
</table>